# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/anvil

# Visual Studio
*.db
*.opendb
*.ipch
*.pdb
*.log
*.tlog
*.idb
*.db-shm
*.db-wal
*.ilk
*.iobj
*.enc
*.ipdb
*.ipdb
*.iobj
*.xml
*.json
*.iobj
CodeBlocks/CodeBlocks.cbp
CodeBlocks/CodeBlocks.depend
CodeBlocks/CodeBlocks.layout
VisualStudio.7z
VisualStudio/Anvil/.vs/Anvil/v15/.suo
VisualStudio/Anvil/Release/Anvil.exp
VisualStudio/Anvil/x64/Release/Anvil.exp
VisualStudio/Anvil/Debug/Anvil.exp
VisualStudio/Anvil/.vs/Anvil/v15/.suo
VisualStudio/Anvil/Debug/Anvil.exp
